{erl_opts, [no_debug_info, warnings_as_errors]}.
{deps, [
  {jsx, "2.8.2"}
]}.

{escript_incl_apps,
 [testgen, jsx]}.
{escript_main_app, testgen}.
{escript_name, testgen}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
