name: Exercism Erlang Track verification

on: [push, pull_request]

jobs:
  create_otp_matrix:
    name: Generate a list of last OTP versions
    runs-on: ubuntu-24.04
    outputs:
      otps: ${{ steps.versions.outputs.versions }}
    steps:
    - name: Clone the repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - name: Get latest OTP versions
      id: versions
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        all_versions=$(gh api graphql -f query='query { repository(owner: "erlang", name: "otp") { releases(last: 100, orderBy: {field: CREATED_AT, direction: ASC}) { nodes { tagName } } } }' --jq '.data.repository.releases.nodes[].tagName | select(. | contains("rc") | not) | .[4:8] | select(test("^[0-9]+\\.[0-9]+$"))' | sort -u -n)
        latest_versions=$(./bin/get_latest_majors_for_ci_matrix.py <<< "$all_versions")
        printf "::set-output name=versions::%s" "$latest_versions"

  test_erlang:
    name: Test examples against OTP ${{ matrix.otp }}
    runs-on: ubuntu-24.04
    needs: [create_otp_matrix]
    strategy:
      matrix:
        otp: ${{fromJson(needs.create_otp_matrix.outputs.otps)}}
    container:
      image: erlang:${{ matrix.otp }}
    steps:
    - name: install jq
      uses: dcarbone/install-jq-action@b7ef57d46ece78760b4019dbc4080a1ba2a40b45
      with:
        version: 1.7

    - name: checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

    - name: run tests
      run: ./bin/run_ci.sh
