name: Check UUID validity

on: [push, pull_request]

jobs:
  uuid:
    runs-on: ubuntu-24.04
    steps:
    - name: Install jq
      uses: dcarbone/install-jq-action@b7ef57d46ece78760b4019dbc4080a1ba2a40b45
      with:
        version: 1.7

    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: Check
      run: |
        bad_uuid=$(cat config.json | jq --raw-output '.exercises | map(.uuid) | .[]' | grep -vE '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$' || true)
        if [[ -n "$bad_uuid" ]]; then
          printf "Invalid UUID(s) found:"
          printf "%s" "${bad_uuid}"
          exit 1
        fi
